body {
		font-family: 'Source Sans Pro', sans-serif !important;
		background-color: #ffffff;
}
.comments {
		height: 485px;
		overflow-y: scroll;
}
.hiddensubmit {
		display:none;
}
/*
.metadata {
		float: right;
}
*/
.author {
		font-weight: bold;
}
.emoji {
		vertical-align: middle;
}

/*
::-webkit-scrollbar {
		width: 12px;
}
::-webkit-scrollbar-track {
		background-color: #92dbf7;
		border-radius: 10px;
		margin: 5px;
		margin-left: 5px;
}
::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: #54a8f7;
		margin: 5px;
}
*/
